<% layout('layouts/boilerplate')%>

<link rel="stylesheet" href="/stylesheets/main.css" />

<div class="row">
  <h1 class="text-center">Edit Bird</h1>
  <div class="col-6 offset-3">
    <form
      action="/birds/<%=bird._id%>?_method=PUT"
      method="POST"
      novalidate
      class="validated-form"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="species" class="form-label">Species</label>
        <select
          class="form-control selector"
          name="bird[species]"
          id="species"
          required
        >
          <option value="<%=bird.species %>"><%= bird.species %></option>
          <% for (let i = 0; i < birdData.length; i++) { %>
          <option value="<%= birdData[i].name %> ">
            <%=birdData[i].name%>
          </option>
          <% } %>
          <option value="other">Other</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <select
          class="form-control selector"
          name="bird[location]"
          id="location"
          required
        >
          <option value="<%=bird.location %>"><%= bird.location %></option>
          <% for (let i = 0; i < locations.length; i++) { %>
          <option value="<%= locations[i] %> "><%=locations[i]%></option>
          <% } %>
        </select>
      </div>

      <script>
        $(document).ready(function () {
          $(".selector").select2();
        });
      </script>

      <div class="mb-3">
        <label for="image" class="form-label">Add Image(s)...</label>
        <input
          class="form-control"
          type="file"
          name="image"
          id="image"
          multiple
        />
      </div>

      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control mb-3"
          type="text"
          id="description"
          name="bird[description]"
          maxlength="200"
          onkeyup="textCounter(this,'counter',200);"
          required
        >
        <%= bird.description%></textarea
        >
        <p>
          You currently have
          <input disabled maxlength="3" size="3" value="200" id="counter" />
          characters left
        </p>
        <div class="valid-feedback">Looks Good!</div>
      </div>

      <div class="mb-3">
        <% bird.images.forEach(function(img,i) { %>
        <img
          src="<%= img.url %> "
          class="img-thumbnail"
          alt="Image of <%= bird.species %> "
        />
        <div class="form-check-inline">
          <input
            type="checkbox"
            id="image-<%= i %> "
            name="deleteImages[]"
            value="<%= img.filename %> "
          />
          <label for="image-<%= i %> ">Delete Image</label>
        </div>
        <% }) %>
      </div>

      <div class="mb-3">
        <button class="btn btn-info">Update Entry</button>
      </div>
    </form>
    <a href="/birds/<%= bird._id%>">Back To Birds</a>
  </div>
</div>

<script>
  // Display 500 characters max
  function maxLength(el) {
    if (!("maxLength" in el)) {
      var max = el.attributes.maxLength.value;
      el.onkeypress = function () {
        console.log(el);
        if (this.value.length >= max) return false;
      };
    }
  }

  maxLength(document.getElementById("description"));
</script>

<script>
  // Tells us how many characters we have left
  function textCounter(field, field2, maxlimit) {
    var countfield = document.getElementById(field2);
    if (field.value.length > maxlimit) {
      field.value = field.value.substring(0, maxlimit);
      return false;
    } else {
      countfield.value = maxlimit - field.value.length;
    }
  }
</script>
