<% layout('layouts/boilerplate')%>
<div class="row">
  <h1 class="text-center">Edit Bird</h1>
  <div class="col-6 offset-3">
    <form
      action="/birds/<%=bird._id%>?_method=PUT"
      method="POST"
      novalidate
      class="validated-form"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label" for="species">Species</label>
        <input
          class="form-control"
          type="text"
          id="species"
          name="bird[species]"
          value="<%=bird.species %>"
          required
        />
        <div class="valid-feedback">Looks Good!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="bird[location]"
          value="<%=bird.location %>"
          required
        />
        <div class="valid-feedback">Looks Good!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="image">Add Images</label>
        <input type="file" name="image" id="image" multiple />
      </div>

      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="bird[description]"
          required
        >
        <%= bird.description%></textarea
        >
        <div class="valid-feedback">Looks Good!</div>
      </div>
      <div class="mb-3">
        <button class="btn btn-info">Update Entry</button>
      </div>
    </form>
    <a href="/birds/<%= bird._id%>">Back To Birds</a>
  </div>
</div>
