<% layout('layouts/boilerplate')%>

<h1>All Birds</h1>
<div>
  <a href="/birds/new">Post an Entry</a>
</div>

<p><% birds %></p>

<div class="row">
  <% for (let bird of birds) { %>
  <div class="col-lg-4 flex-wrap align-content-start">
    <div class="card mb-5 border-white" style="width: 20rem">
      <a href="/birds/<%=bird._id%>">
        <img
          src="<%= bird.image %> "
          class="card-img-top rounded-circle"
          alt="image of <%= bird.species %> "
        />
      </a>

      <div class="card-body">
        <h4 class="card-title text-center"><%= bird.species %></h5>
        <h5 class = "card-subtitle mb-2 text-muted text-center"><%= bird.location %> </h4>
        <p class="card-text text-center">
          <%= bird.description  %> 
        </p>
      </div>
    </div>
  </div>
  <% } %>
</div>
