<% layout('layouts/boilerplate')%>

<section class="container-fluid">
  <div class="row align-items-center">
    <div class="col-lg-4 px-0 text-center d-lg-block">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title"><%= bird.species %></h5>
          <h6 class="card-subtitle mb-2 text-muted">Username Placeholder</h6>
          <p class="card-text"><%= bird.description %></p>
          <p class="card-subtitle mb-2 text-muted"><%= bird.location %></p>
          <a class="card-link btn btn-info" href="/birds/<%=bird._id%>/edit"
            >Edit</a
          >
          <form
            class="d-inline"
            action="/birds/<%=bird._id%>?_method=DELETE"
            method="POST"
          >
            <button class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-lg-8 px-0">
      <div
        id="carouselExampleControls"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="<%= bird.image %> "
              class="d-block w-100"
              alt="Image of <%= bird.species %> "
            />
          </div>
          <div class="carousel-item">
            <img
              src="<%= bird.image %> "
              class="d-block w-100"
              alt="Image of <%= bird.species %> "
            />
          </div>
          <div class="carousel-item">
            <img
              src="<%= bird.image %> "
              class="d-block w-100"
              alt="Image of <%= bird.species %> "
            />
          </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#carouselExampleControls"
          role="button"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselExampleControls"
          role="button"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
      </div>
    </div>
  </div>

  <div class="row align-items-center">
    <div class="px-0 text-center d-lg-block">
      <h2>Leave a Review</h2>
      <form
        action="/birds/<%=bird._id%>/reviews"
        method="POST"
        class="mb-3 validated-form"
        novalidate
      >
        <div class="mb-3">
          <button class = "btn btn-primary">Like this post</button>
        </div>

        <div class="mb-3">
          <label class="form-label" for="body">Review</label>
          <textarea
            class="form-control"
            name="review[body]"
            id="body"
            cols="30"
            rows="3"
            required
          ></textarea>
          <div class="valid-feedback">Looks good!</div>
        </div>
        <button class="btn btn-success">Submit</button>
      </form>
      <% for(let review of bird.reviews) { %>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Rating: <%= review.rating %></h5>
          <p class="card-text">Review: <%= review.body %></p>
          <form
            action="/birds/<%=bird._id%>/reviews/<%=review._id%>?_method=DELETE"
            method="POST"
          >
            <button class="btn btn-sm btn-danger">Delete</button>
          </form>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</section>
