<% layout('layouts/boilerplate')%>

<link rel="stylesheet" href="/stylesheets/main.css" />
<link rel="stylesheet" href="/stylesheets/flickity.css" />

<!-- Flickity CSS -->
<link
  rel="stylesheet"
  href="https://unpkg.com/flickity@2/dist/flickity.min.css"
/>

<!-- Flickity JS -->
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.js"></script>

<form
  class="d-inline"
  action="/birds/<%=bird._id%>/upvote"
  method="POST"
>
  <button class="btn btn-success">Like</button>
</form>

<section class="container-fluid">
  <div class="row align-items-center">
    <!-- Information card, left side -->
    <div class="col-lg-4 px-0 text-center d-lg-block">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title"><%= bird.species %></h5>
          <h6 class="card-subtitle mb-2">
            Submitted By <%= bird.author.username %>
          </h6>
          <h6 class="card-subtitle mb-2">Total likes: <%= bird.likeCount %></h6>
          <p class="card-text"><%= bird.description %></p>
          <p class="card-subtitle mb-2 text-muted"><%= bird.location %></p>

          <% if (currentUser && bird.author.equals(currentUser._id)) { %>
          <a class="card-link btn btn-info" href="/birds/<%=bird._id%>/edit"
            >Edit</a
          >
          <form
            class="d-inline"
            action="/birds/<%=bird._id%>?_method=DELETE"
            method="POST"
          >
            <button class="btn btn-danger">Delete</button>
          </form>
          <% } %>
        </div>
      </div>
    </div>

    <!-- Image, right side -->
    <div class="col-lg-8">
      <% if (bird.images.length > 1) { %>
      <div class="main-carousel" data-flickity='{ "wrapAround": true }'>
        <% bird.images.forEach((img) => { %>
        <div class="carousel-cell">
          <img src="<%= img.carouselImage %>" alt="<%= bird.species %>" />
        </div>
        <% }) %> <% } else if (bird.images.length === 1) { %>
        <img
          class="single-image"
          src="<%= bird.images[0].url %>"
          alt="<%= bird.species %>"
        />
        <% } else { %>
        <img
          class="single-image"
          src="https://res.cloudinary.com/dabgwgfzh/image/upload/v1609232539/BirdsOfNewZealand/lunxjy92s035iti1aurf.jpg"
          alt="<%= bird.species %>"
        />
        <% } %>
      </div>
    </div>
  </div>

  <!-- Create a comment -->
  <div class="row align-items-center">
    <div id="map" style="width: 100%; height: 300px"></div>
    <% if (currentUser) {%>
    <div class="px-0 text-center d-lg-block">
      <h2>Leave a Comment</h2>
      <form
        action="/birds/<%=bird._id%>/comments"
        method="POST"
        class="mb-3 validated-form"
        novalidate
      >
        <div class="mb-3">
          <textarea
            class="form-control"
            name="comment[body]"
            id="body"
            cols="30"
            rows="3"
            required
          ></textarea>
          <div class="valid-feedback">Looks good!</div>
        </div>
        <button class="btn btn-success">Submit</button>
      </form>
      <% } %> <% for(let comment of bird.comments) { %>
      <div class="card mb-3">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">
            By <%= comment.author.username%>
          </h6>
          <p class="card-text"><%= comment.body %></p>
          <% if( currentUser && comment.author.equals(currentUser._id)) {%>
          <form
            action="/birds/<%=bird._id%>/comments/<%=comment._id%>?_method=DELETE"
            method="POST"
          >
            <button class="btn btn-sm btn-danger">Delete</button>
          </form>
          <% } %>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</section>

<script>
  const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
  const bird = <%- JSON.stringify(bird) %>
</script>

<script src="/javascripts/showPageMap.js"></script>

<script src="/javascripts/carousel"></script>
